*{
    margin: 0px;
    padding: 0px;
}
.top-pic{
    height: 1030px;
    background-image: url(../img/backgrounds/first.jpg);
}
.services{
    background-image: url(../img/backgrounds/second.jpg);
}
h2{
    font-weight: bold;
}
.about{
    height: 280px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7;
    padding-top: 50px;
    
}

.services{
    color: white;
    text-align: center;
    height: 250px;
    font-size: 1.5rem;
    padding-top: 4%;
    line-height: 2;
    
}
.container1{
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    height: 400px;
    padding: %;
}
.container1-h2{
    text-align: center;
}
.service1{
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 3%;
    margin-left: ;
}
.service2{
    margin-right: ;

}
.hidden{
    display: none;
    transition: 2s;
}
#hidden{
    display: none;
    transition: 2s;
}
.hidden2{
    display: none;
    transition: 2s;
}
#hidden2{
    display: none;
    transition: 2s;
}
.hidden3{
    display: none;
    transition: 2s;
}
#hidden3{
    display: none;
    transition: 2s;
}
.col-md-3{
}
.col-md-3:hover .overlay-content{
    opacity: 0.8;
    transition-delay: 0.1s;
   
}
.overlay-content{
    overflow: hidden;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-100%;
    left:0%;
    opacity: 0;
    transition: ;
    z-index: 1;
}
.overlay-content h1{
    text-align: center;
    position:relative;
}
.col-md-4{
    width: 550px;
    position: relative;
}
#contact-us{
    background-image: url(../img/backgrounds/third.jpg);
}
.container1-h2{
    padding-top: 3%;
}